:root, .theme-dark {
  --global-white: #fff;
  --global-black: #000;
  --global-success: #4ade80;
  --global-error: #e21313;
  --bg: #070D1A;
  --fg: #fff;
  --fg-button: #fff;
  --muted: #cfd6e4;
  --extra-muted: #c0c6d2;
  --border: rgba(255, 255, 255, 0.08);
  --overlay: rgba(0, 0, 0, 0.65);
  --main-purple: #6165AD;
  --secondary-purple: #949BDD;
  --main-orange: #D69D0D;
  --secondary-orange: #FFC545;
  --content-bg: rgba(20, 42, 79, 0.05);
  --nav-bg: #030810;
  --footer-bg: #030810;
  --line-color: rgba(255,255,255,0.18);
  --arrow-bg: rgba(255,255,255,0.04);
  --modal-bg: #0f1217;
  --theme-btn-bg: #0e0e0e;
  --field-bg: #212734;
  overflow: hidden;
}

.theme-light {
  --bg: #f0f0f0;
  --fg: #0b0c0f;
  --muted: #3a4658;
  --extra-muted: #4f5f77;
  --border: rgba(0, 0, 0, 0.12);
  --overlay: rgba(0, 0, 0, 0.25);
  --content-bg: rgba(0, 0, 0, 0.02);
  --nav-bg: rgba(211, 211, 211, 0.75);
  --footer-bg: rgba(211, 211, 211, 0.75);
  --line-color: rgba(0,0,0,0.18);
  --arrow-bg: rgba(255,255,255,0.5);
  --modal-bg: #f3f3f3;
  --theme-btn-bg: #ebebeb;
  --field-bg: #f0f2f5;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}

@media (max-width: 900px) {
  body {
    font-size: 1rem;
    padding: 0;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 0.95rem;
    padding: 0;
  }
  a {
    font-size: 1rem;
  }
}


body {
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui, Segoe UI, Roboto, Helvetica, Arial;
  background: var(--bg);
  color: var(--fg);
}

a {
  color: var(--main-orange);
  text-decoration: none;
  transition: opacity 250ms ease;
}

a:visited {
  color: var(--main-orange);
  opacity: 0.8;
  text-decoration: none;
}

a:hover {
  color: var(--main-orange);
  opacity: 0.8;
  text-decoration: none;
}

.button__primary {
  background: color-mix(in srgb, var(--main-orange) 85%, var(--global-black));
  color: var(--fg-button);
  border: 0;
  border-radius: 999px;
  padding: 0.6rem 1rem;
  font-weight: 700;
  cursor: pointer;
  height: 3rem;
  width: 10rem;
}

.button__primary:hover:not(:disabled) {
  background: color-mix(in srgb, var(--main-orange) 95%, var(--global-black));
  transition: background 0.2s ease, transform 0.1s ease;
}

.button__primary:active:not(:disabled) {
  background: var(--main-orange);
}

.button__primary[disabled] { opacity: 0.6; cursor: not-allowed; }